<div>

        <lable>Title</lable>
        <input type="text" name="title" value="<%=person.title%>">
</div>

<div>
<label>user</label>
  <select name="user">
  <% users.forEach(user => { %>
    <% if (user.id === person.user) { %>
      <option selected label="<%= user.name %>" value="<%= user.id %>">
    <% } else { %>
      <option label="<%= user.name %>" value="<%= user.id %>">
    <% } %>
  <% }) %>
  </select>
</div>

<div>
    <lable>Date of birth</lable>
    <input type="date" name="Datebirth" 
    value="<%=person.Datebirth==null ? '' : 
    person.Datebirth.toISOString().split('T')[0]%>">
</div>

<div>
    <lable>ID</lable>
    <input type="number" name="ID" value="<%=person.ID %>">
</div>


<div>
    <lable>Cell phone number</lable>
    
    <input type="number" name="Cellphone" value="<%=person.Cellphone %>">
</div>

<div>
    <lable>File</lable>
    <input type="file" name="file" %>">
</div>



