<h2>You can search for a specific user</h2>
<form action="/users" method="GET">
<label>Name/ID</label>
<input type="text" name="name" value= "<%=searchOptions.name %>">
<button type="submit">Search</button>
<br><br>
<label>Display:</label>
</form>
<br>
<% users.forEach(user => { %>
    <div><%=user.name %></div>


    <a href="/users/<%= user.id %>">View</a>
    <a href="/users/<%= user.id %>/edit">Edit</a>

    <form method="POST" action="/users/<%= user.id%>?_method=DELETE">
        <button type="submit">Delete</button>
    </form>

   
    
    <%})%>
