<h2>You can search for a specific user</h2>
<form action="/users" method="GET">
<label>name</label>
<input type="text" name="name" value= "<%=searchOptions.name %>">
<button type="submit">Search</button>
</form>
<br>
<% users.forEach(user => { %>
    <div><%=user.name %></div>


    <a href="/users/<%= user.id %>">View</a>
    <a href="/users/<%= user.id %>/edit">Edit</a>

    <%- include('../partials/deleteForm', {url: "/users/<%= user.id %>"}) %>

    <form method="POST" action = "/users/<%= user.id %>?_method=DELETE">
        <button type submit> Delete</button>
    </form>
    <%})%>
